.gc_16 {
    background-color: #332e29 !important;
}

.gc_32 {
    background-color: #343a33 !important;
}

.gc_48 {
    background-color: #414131 !important;
}

.gc_64 {
    background-color: #342426 !important;
}

.gc_80 {
    background-color: #2c3f3d !important;
}

.gc_96 {
    background-color: #333f34 !important;
}

.gc_112 {
    background-color: #292d3a !important;
}

.gc_128 {
    background-color: #2f2e2e !important;
}

.gc_144 {
    background-color: #3f323f !important;
}

.gc_160 {
    background-color: #3e3e47 !important;
}

.gc_176 {
    background-color: #2e393b !important;
}